---
import BaseLayout from "../layouts/BaseLayout.astro";

import {getCollection} from "astro:content";

import ProjectCard from "../components/projects/ProjectCard.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">I'm Shashank S Mayya</div>
        <div class="text-3xl py-3 font-bold">Freelance Software Developer</div>
        <div class="py-2">
            <text class="text-lg">
                I am a software developer based in India. I love to build things that make a difference. I am passionate
                about app development and well versed with Flutter. Worked with more than 10 clients on building various
                apps.
                If you want to build robust and scalable apps, I am your guy. Let's connect and build something amazing.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn" href="https://twitter.com/ShashankMayya" target="_blank"> Let's connect!</a>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">Recent projects {"</>"}</div>
    </div>
    <ProjectCard
            title="Zontix"
            img="/projects/zontix.webp"
            desc="Developing an event management app that uses blockchain under the hood to issue NFT tickets."
            url="zontix.com"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc", "Crypto", "Event Management"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Firstock Trading App"
            img="/projects/firstock_trading.webp"
            desc="Developing a stock market app for a client using Flutter. The app has various features like stock trading, portfolio management, and more."
            url="#"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc", "Websockets", "Trading"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Indy App"
            img="/projects/indy_consumer.webp"
            desc="Developed a Fintech app for a client in Flutter. The app has various features like UPI payments, Wallet, and more."
            url="#"
            tags={["Flutter", "Fintech", "Client", "Flutter Bloc"]}
    />
    <div class="divider my-0"></div>
    <ProjectCard
            title="Mello"
            img="/projects/mello.webp"
            desc="Developed 'Mello', a reel-based event discovery app targeting the Bangalore audience, enhancing local social engagement. Utilized MongoDB and Node.js for backend operations, Flutter for app development, Mixpanel for analytics, and Clevertap for push notifications."
            playStore="https://play.google.com/store/apps/details?id=com.mello.mello"
            appStore="https://apps.apple.com/in/app/mello-weekend-event-guide/id6450921757"
            tags={["Flutter", "Flutter Bloc", "Node.js", "MongoDB", "Mixpanel", "Clevertap", "Client", "Event Management", "Social"]}
    />
    <div class="divider my-0"></div>

    <!-- <div>
         <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
     </div>

     {
         last_posts.map((post) => (
                 <>
                     <HorizontalCard
                             title={post.data.title}
                             img={post.data.heroImage}
                             desc={post.data.description}
                             url={"/blog/" + createSlug(post.data.title, post.slug)}
                             target="_self"
                             badge={post.data.badge}
                     />
                     <div class="divider my-0"/>
                 </>
         ))
     }-->
</BaseLayout>
