---
import BaseLayout from "../layouts/BaseLayout.astro";
import {getCollection} from "astro:content";
import ProjectCard from "../components/projects/ProjectCard.astro";
import ProjectDialog from "../components/projects/ProjectDialog.astro";
import TechStackMarquee from "../components/TechStackMarquee.astro";
import { getRecentProjects } from "../data/projects";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
const recentProjects = getRecentProjects(3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">I'm Shashank S Mayya</div>
        <div class="text-3xl py-3 font-bold">Freelance Software Developer</div>
        <div class="py-2">
            <text class="text-lg">
                I am a software developer based in India. I love to build things that make a difference. I am passionate
                about app development and well versed with Flutter. Worked with more than 10 clients on building various
                apps.
                If you want to build robust and scalable apps, I am your guy. Let's connect and build something amazing.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn" href="https://twitter.com/ShashankMayya" target="_blank"> Let's connect!</a>
        </div>
    </div>

    <TechStackMarquee />

    <div>
        <div class="text-3xl w-full font-bold mb-2">Recent projects {"</>"}</div>
    </div>
    
    {recentProjects.map((project, index) => (
        <>
            <ProjectCard project={project} />
            {index < recentProjects.length - 1 && <div class="divider my-0"></div>}
        </>
    ))}
    
    <div class="mt-8 text-center">
        <a href="/projects" class="btn btn-primary">View All Projects</a>
    </div>

    <!-- Blog section commented out for now -->
    <!-- <div>
         <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
     </div>

     {
         last_posts.map((post) => (
                 <>
                     <HorizontalCard
                             title={post.data.title}
                             img={post.data.heroImage}
                             desc={post.data.description}
                             url={"/blog/" + createSlug(post.data.title, post.slug)}
                             target="_self"
                             badge={post.data.badge}
                     />
                     <div class="divider my-0"/>
                 </>
         ))
     }-->
     
    <ProjectDialog />
</BaseLayout>